body {
  font-family: Arial;
  background: #f4f4f4;
  margin: 0;
}

.navbar {
  background: #1b5e20;
  padding: 15px;
}

.navbar a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
}
